[package]
name = "thor-devkit"
version = "0.1.0-beta.4"
authors = ["Stanislav Terliakov <terlya.stas@gmail.com>"]
description = "Rust library to aid coding with VeChain: wallets, transactions signing, encoding and verification, smart contract ABI interfacing, etc."
documentation = "https://docs.rs/thor-devkit"
repository = "https://github.com/sterliakov/thor-devkit.rs"
readme = "README.md"
keywords = ["vechain", "crypto", "blockchain", "cryptography"]
categories = ["cryptography"]
license = "GPL-3.0"
edition = "2021"
rust-version = "1.69.0"

# See here for more info: https://blog.rust-lang.org/2020/03/15/docs-rs-opt-into-fewer-targets.html

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bip32 = { version = "0.5.1", default-features=false, features = [ "alloc", "secp256k1-ffi"] }
blake2 = "0.10.6"
ethereum-types = "0.14.0"
itertools = "0.13.0"
tiny-keccak = { version = "2.0.0", features = ["keccak"] }
secp256k1 = { version = "0.27.0", features = [ "recovery" ] }
tiny-bip39 = "1.0.0"
rustc-hex = "2.1.0"
open-fastrlp = { version = "0.1.4", features = ["std", "ethereum-types"] }
bytes = "1.5.0"
reqwest = { version = "0.12", features = ["json"], optional = true }
serde = { version = "^1.0", features=["derive"], optional = true }
serde_json = { version = "^1.0", optional = true }
serde_with = { version = "^3.4", features = ["hex"], optional = true }
rand = { version = "^0.8", features = ["std", "std_rng"], optional = true }

[dev-dependencies]
# version_sync: to ensure versions in `Cargo.toml` and `README.md` are in sync
version-sync = "0.9.4"
rand = { version = "0.8.5", features = ["getrandom"] }
tokio = { version = "1", features = ["full"] }
bloomfilter = "^1.0"
ethabi = "^18.0"

[features]
# default = ['builder']
serde = ["dep:serde", "dep:serde_json", "dep:serde_with"]
http = ["dep:reqwest", "serde"]
builder = ["http", "dep:rand"]
