[package]
name = "thor-devkit"
version = "0.1.0-alpha.1"
authors = ["Stanislav Terliakov <terlya.stas@gmail.com>"]
description = "Rust library to aid coding with VeChain, eg. Wallets/Tx/Sign/Verify. "
documentation = "https://docs.rs/thor-devkit.rs"
repository = "https://github.com/sterliakov/thor-devkit.rs"
readme = "README.md"
keywords = ["thor-devkit.rs"]
categories = [
    # "api-bindings"
]
license = "GPL-2.0-or-later"
edition = "2021"

# See here for more info: https://blog.rust-lang.org/2020/03/15/docs-rs-opt-into-fewer-targets.html

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
alloy-rlp = { version = "0.3.3", features = ["derive"] }
bip32 = { version = "0.5.1", features = [ "secp256k1-ffi"] }
blake2 = "0.10.6"
either = "1.9.0"
ethnum = "1.5.0"
itertools = "0.11.0"
tiny-keccak = { version = "2.0.0", features = ["keccak"] }
secp256k1 = { version = "0.27.0", features = [ "recovery" ] }
tiny-bip39 = "1.0.0"

[dev-dependencies]
# version_sync: to ensure versions in `Cargo.toml` and `README.md` are in sync
version-sync = "0.9.4"
# cargo-bump: to bump package version and tag a commit at the same time.
# actually, the docs recommend installing this globally:
#   $ git clone https://github.com/rnag/cargo-bump && cd cargo-bump && cargo install --path . && cd .. && rm -rf cargo-bump
# logging utilities
# log = "^0.4"
# sensible-env-logger = "0.1.0"
# tokio: for `async` support
# tokio = { version = "^1.0", features = ["macros", "rt-multi-thread"] }

[features]
